<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Model.Chapter.Title - @Model.Book.Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/css/flag-icon.min.css" integrity="sha256-0n6YDYIexWJmHyTKtRRHTXvoanQrXpFfpsfv0h53qvk=" crossorigin="anonymous">
    <link rel="stylesheet" href="../../site.css" crossorigin="anonymous">
</head>
<body>
    <div class="root">
        <header>
            <div class="inner clearfix">
                <h3 class="float-left">@Model.Book.Title</h3>
                <nav class="nav float-right">
                    <div class="nav-item">
                        <a role="button" class="btn btn-outline-secondary" href="../index.htm">Contents</a>
                    </div>
                    <div class="nav-item dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="flag-icon flag-icon-@(Model.Book.Language.Country)"></span><span class="flag-icon-left">Language</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="language">
                            @foreach (var lang in Model.AllLanguages)
                            {
                                <div class="dropdown-item @(lang == Model.Book.Language ? "active" : "")">
                                    <span class="flag-icon flag-icon-@(lang.Country)"></span>
                                    <a class="flag-icon-left" href="../../@(lang.Code)/@(Model.Chapter.Number)/index.htm" data-lang="@lang.Code">@lang.Name</a>
                                </div>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div id="carousel" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
                <div class="carousel-inner">
                    @foreach (var page in Model.Chapter.Pages)
                    {
                        var firstPage = page == Model.Chapter.Pages[0];

                        @* the odd/even are inverted because the page numbers start from 1 *@
                        <div class="carousel-item @(page.Number % 2 == 0 ? "page-odd" : "page-even") @(firstPage ? "active" : "")">
                            <div class="container-fluid page">
                                @if (firstPage)
                                {
                                    <div class="page-header row justify-content-center text-center">
                                        <div class="col-auto">
                                            <h1>@Model.Chapter.Title</h1>
                                            <p>@Model.Chapter.Bible</p>
                                        </div>
                                    </div>
                                }
                                <img src="../../images/@(Model.Chapter.Number)/@(page.Number).jpg" class="img-fluid mx-auto d-block" />
                                <div class="page-text row justify-content-center">
                                    <div class="col-auto">
                                        @Raw(page.Content)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="carousel-item @(Model.Chapter.Pages.Count % 2 == 0 ? "page-even" : "page-odd")">
                        <div class="container-fluid page">
                            <div class="page-header row justify-content-center text-center">
                                <div class="col-auto">
                                    <h2>Coming Up...</h2>
                                </div>
                            </div>
                            <img src="../../images/@(Model.Chapter.Number + 1)/1.jpg" class="img-fluid mx-auto d-block" />
                            <div class="page-text row justify-content-center">
                                <div class="col-auto">
                                    <a role="button" class="btn btn-primary btn-lg" href="../@(Model.Chapter.Number + 1)/index.htm">Read Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </main>
        <footer>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>